#question-box{
    top:50%;
    bottom:50%;
    height:300px;
    box-shadow: 0 0 10px 2px;
     
}

.time-remaining{
    float:right;
}

.footer{
    text-align:center;
    width: 100%;
    position: fixed;
    height:30px;
    bottom: 0;
    left: 0;
    background-color: lightgray;
}

.container-fluid{
    font-family: 'Noto Sans', sans-serif;
    width: 100 vw;
    
}

.btn-grid{
    display:grid;
    grid-template-columns: repeat (2, auto);
    gap: 10px;
    margin: 10px 20px;
}

#btn-start{
    margin: 20px;
    padding: 20px;
}

.controls{
    display:block;
    justify-content: center;
    align-items: center;
    text-align:center;
    position: fixed;;
    width:300px;
    height:200px;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -150px;
    text-align:center;

}

.btn-save{
    margin: 100px;
}

.hide{
    display:none;
}
